* {
    padding: 0;
    margin: 0;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.carousel__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 90%;
}

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 40%;
    background-color: rgba(0, 30, 30, 0.6);
    width: 20%;
    height: 100%;
}

.game-title {
    color: white;
    filter: drop-shadow(0px 0px 3px black);
    font-family: 'Cormorant SC', serif;
    font-size: 5rem;
    padding-top: 22%;
    text-align: center;
    width: 160%;
}

.count {
    font-size: 5rem;
    font-family: 'Barlow';
    color: rgba(74, 253, 235, 0.8);
}

.text {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    padding: 4% 0 4% 0;
}

.turquoise {
    color: rgba(74, 253, 235, 0.8);
    padding: 0 0 4% 0;
    font-size: 1.2rem;
}



/* CAROUSEL TEXT */

.carousel__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 122%;
    padding-top: 2%;
}

.carousel__btn--previous {
    transform: rotate(-90deg);
}

.carousel__btn--previous:hover {
    filter: drop-shadow(0px 0px 6px black);
    height: 47px;
}

.carousel__location {
    color: white;
    font-family: 'Cormorant SC';
    font-size: 1.8rem;
}

.carousel__location--hidden,
.carousel__bg--hidden {
    display: none;
}

.carousel__btn--next {
    transform: rotate(90deg);
}

.carousel__btn--next:hover {
    filter: drop-shadow(0px 0px 6px black);
    height: 47px;
}

form {
    padding-top: 5%;
    text-align: center;
}

.input {
    border: none;
    background-color: rgba(83, 194, 202, 0.5);
    width: 160px;
    height: 50px;
    font-size: 2.4rem;
    font-family: 'Barlow', sans-serif;
    color: white;
}

.input[type=text]:focus {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.btn {
    display: block;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    width: 160px;
    height: 50px;
}

.btn:hover {
    background-color: rgba(11, 83, 65, 0.7);
    filter: drop-shadow(0px 0px 20px rgba(64, 224, 208, 0.4));
}

#message {
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Barlow', sans-serif;
    color: rgba(253, 220, 74, 0.8);
}

.copyright {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: turquoise;
}

@media screen and (min-width: 0px) and (max-width: 500px) {

    section {
        top: 0;
        left: 10%;
        width: 80%;
        height: 100%;
    }

    .game-title {
        font-size: 3rem;
        width: 100%;
        padding-top: 16%;
    }

    .text {
        font-size: 1.1rem;
    }

    .turquoise {
        font-size: 0.8rem;
    }

    .carousel__name {

        width: 120%;
    }

    .carousel__location {
        font-size: 1.4rem;
    }


}

@media screen and (min-width: 501px) and (max-width: 1024px) {

    section {
        top: 0;
        left: 10%;
        width: 80%;
        height: 100%;
    }

    .game-title {
        font-size: 3rem;
        width: 100%;
        padding-top: 16%;
    }

    .text {
        font-size: 1.1rem;
    }

    .turquoise {
        font-size: 0.8rem;
    }

    .carousel__name {

        width: 120%;
    }

    .carousel__location {
        font-size: 1.4rem;
    }


}

@media screen and (min-width: 1025px) and (max-width: 1366px) {

    .game-title {
        font-size: 3.4rem;
        width: 160%;
    }

    .text {
        font-size: 1.3rem;
    }

    .turquoise {
        font-size: 0.8rem;
    }

    .carousel__location {
        font-size: 1.6rem;
    }



}

@media screen and (min-width: 1367px) and (max-width: 1600px) {

    .game-title {
        font-size: 4rem;
        width: 180%;
    }

    .text {
        font-size: 1.6rem;
    }

    .turquoise {
        font-size: 1rem;
    }

    .carousel__location {
        font-size: 1.8rem;
    }


}

.before-start {
    visibility: hidden ;
}

